:root {
  /* Colors */
  --black: black;
  --white: white;

  --background-color: var(--white);
  --font-color: var(--black);
  --border-color: #eaeaea;
  --link-color: #0070f3;
  --light-font-color: #666;

  /* Inverted stuff */
  --background-color-inverted: var(--black);
  --font-color-inverted: var(--white);
}

@media (prefers-color-scheme: light) {
  .light-favicon {
    display: none;
  }
  .dark-favicon {
    display: initial;
  }
}

@media (prefers-color-scheme: dark) {
  .light-favicon {
    display: initial;
  }
  .dark-favicon {
    display: none;
  }
}
