:focus:not(:focus-visible) {
  outline: none;
}

body {
  font-family: sans-serif;
}

footer {
  text-align: center;
  color: #ccc;
  padding-top: 80px;
}

dark-mode,
light-mode {
  display: none;
}

.dark *,
.light * {
  transition: background 350ms ease;
}
