/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

/* inter-regular - latin */

@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter.woff2') format('woff2 supports variations'),
    url('/fonts/inter.woff2') format('woff2-variations'), url('/fonts/inter.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@layer utilities {
  .bg-color {
    @apply bg-[color:var(--background-color)];
  }
  .transparent-bg {
    @apply bg-[color:var(--transparent-background-color)];
  }
  .bg-color-invert {
    @apply bg-[color:var(--background-color-inverted)];
  }
  .font-color {
    @apply text-[color:var(--font-color)];
  }
  .font-color-invert {
    @apply text-[color:var(--font-color-inverted)];
  }
  .border-color {
    @apply border-[color:var(--border-color)];
  }
  .light-font-color {
    @apply text-[color:var(--light-font-color)];
  }
  .link-font-color {
    @apply text-[color:var(--link-color)];
  }
}
