/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

/* inter-regular - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/inter-v7-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''), url('/fonts/inter-v7-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('/fonts/inter-v7-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('/fonts/inter-v7-latin-regular.woff') format('woff'),
    /* Modern Browsers */ url('/fonts/inter-v7-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('/fonts/inter-v7-latin-regular.svg#Inter') format('svg'); /* Legacy iOS */
    font-display: swap;
}

@layer utilities {
  .bg-color {
    @apply bg-[color:var(--background-color)];
  }
  .bg-color-invert {
    @apply bg-[color:var(--background-color-inverted)];
  }
  .font-color {
    @apply text-[color:var(--font-color)];
  }
  .font-color-invert {
    @apply text-[color:var(--font-color-inverted)];
  }
  .border-color {
    @apply border-[color:var(--border-color)];
  }
  .light-font-color {
    @apply text-[color:var(--light-font-color)];
  }
  .link-font-color {
    @apply text-[color:var(--link-color)];
  }
}
